@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

/* Colour Variables and Fonts */
:root {
    /* Primary Colors */
    --primary: #26a69a; /* Teal */
    --primary-light: #64d8cb; /* Lighter Teal */
    --primary-dark: #00766c; /* Darker Teal */
    --on-primary: #ffffff;

    /* Accent/Secondary Colors */
    --accent: #ff6f00; /* Deep Orange A400 */
    --accent-light: #ffa270; /* Deep Orange Lighten 3 */
    --accent-dark: #c43e00; /* Deep Orange Darken 3 */
    --on-accent: #2E2E2E;

    /* Background and Surface */
    --background: #eceff1; /* Blue Grey 50 */
    --surface: #cfd8dc; /* Blue Grey 100 */
    --on-background: #212121; /* Grey 900 */
    --on-background-secondary: #757575; /* Grey 600 */

    /* Error Colors */
    --error: #d50000; /* Red A400 */
    --error-light: #ff5252; /* Red A200 */
    --error-dark: #b71c1c; /* Red 900 */
    --on-error: #ffffff;

    /* Additional Colors */
    --green: #66bb6a; /* Light Green A400 */
    --green-light: #98ee99; /* Light Green A200 */
    --green-dark: #338a3e; /* Light Green A700 */

    /* Typography */
    --primaryfont: 'Open Sans', sans-serif;
    --secondaryfont: 'Ubuntu', sans-serif;
}

/* Materialize style required for flexbox */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* General style settings */
.uppercase {
    text-transform: uppercase;
}

.margin-top-large {
    margin-top: 5rem;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0px;
    z-index: 15;
    background-color: var(--surface);
    font-family: var(--primaryfont);
    height: 80px;
}

nav img {
    height: 2.5em;
    width: 6em;
    margin-left: 20px;
    transform: scale(1.2);
}

nav ul a {
    color: var(--on-background);
    padding: 0 20px;
    font-family: var(--secondaryfont);
    margin-right: 5px;
    font-weight: 400;
}

.navbar-icon {
    margin-right: 0.8rem;
    font-size: 20px;
    color: var(--on-background);
}

.mobile-navbar-heading {
    font-size: 2.6rem;
    text-shadow: 1px 1px 1px var(--background);
    color: var(--primary);
}

/* Footer */
.footer-container {
    background-color: var(--surface);
    padding-bottom: 0.5rem;
    color: var(--on-background);
    -webkit-box-shadow: 0px -5px 10px -6px var(--on-background-secondary);
    -moz-box-shadow: 0px -5px 10px -6px var(--on-background-secondary);
    box-shadow: 0px -5px 10px -6px var(--on-background-secondary);
}

.media-icons {
    font-size: 25px;
    color: var(--on-accent);
    margin-bottom: 5px;
    padding: 3px;
    font-weight: 300;
    text-shadow: 2px 2px 2px var(--background);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;  
    transition-timing-function: ease-in-out;
}


.media-icons:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}


/* Register-Login */
.login-reg-section {
    max-width: 30rem;
    min-width: 250px;
    margin: auto;
    margin-top: 4rem;
}

.error-message {
    color: var(--red);
}

/* Home */
.home-container {
    display: flex;
    margin-top: 5rem;
}

.card .card-image img {
    position: relative;
    object-fit: cover;
    height: 40vh;
}

.card .card-content {
    padding-top: 0;
}

/* Add-Edit recipe*/
.container-addrecipe{
    padding:1px;
    border-radius: 20px;
    margin-bottom: 2rem;
    width:100%;
    }
    .add-edit-form{
    padding:0;
    }
    .asterisk{
    color: var(--red);
    font-size: 10px;
    }
    /* Buttons*/
    .btn-main{
    background-color: var(--coral);
    color: var(--white);
    border-radius: 1.5rem;
    margin-top: 20px;
    margin-bottom: -20px;
    font-family: var(--secondaryfont);
    }
    .btn-main:hover,
    .btn-main:active,
    .btn-main:focus{
    background-color: var(--lightcoral);
    }
    .btn-form{
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
    }
    .btn-secondary{
    color: var(--black);
    background-color: var(--darkwhite);
    }
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active{
    background-color: var(--midiumwhite);
    }

/* >600px Tablet and Desktop size Media queries */
@media (min-width: 600px) {
    .container-recipes {
        width: 95%;
        max-width: 1500px;
    }
    .add-edit-form{
        padding:0 2rem;
        }
        }
        /*  Tablet size only Media queries */
        @media (min-width: 600px) and (max-width: 992px){
        .container-addrecipe{
        width:85%;
        }
        }
        /* Desktop size only Media queries */
        @media (min-width: 992px) {
        
        .container-addrecipe{
        width:70%;
        }
}
