<div class="page-footer  footer-container center-align">
	<div class="container">
		<a href="https://github.com/irebernardidev" target="_blank" rel="noopener">
            <i class="fab fa-github media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.linkedin.com/in/irene-bernardi-4460b81bb/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.instagram.com/" target="_blank" rel="noopener">
            <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.facebook.com/" target="_blank" rel="noopener">
            <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
        </a>
	</div>
    <p>© 2023 VeggieNosh. All Rights Reserved</p>
</div>
