{% extends 'base.html' %}

{% block content %}
<!-- Start of Main Section for VeggieNosh New Recipe -->
<section class="container margin-top-large container-addrecipe z-depth-2">
    <h1 class="uppercase center-align secondary-heading">Add Veggie Recipe</h1>

    <!-- Start of Veggie Recipe Form -->
    <form class="add-edit-form" autocomplete="off" method="POST" action="{{ url_for('insert_recipe') }}">
        {{ form.hidden_tag() }}

        <!-- Recipe Name Input -->
        <div class="input-field col s12">
            <i class="far fa-file-alt prefix"></i>
            {{ form.recipe_name(id="recipe_name", class="validate", minlength="4", maxlength="25") }}
            <label for="recipe_name">Recipe Name <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Recipe Description Input -->
        <div class="input-field col s12">
            <i class="fas fa-pen prefix"></i>
            {{ form.recipe_description(id="recipe_description", class="validate materialize-textarea", minlength="20", maxlength="300") }}
            <label for="recipe_description">Recipe Description <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Veggie Category Selection -->
        <div class="input-field col s12 m6 l4">
            <i class="fas fa-globe-europe prefix"></i>
            <select id="category_type" name="category_type">
                <option value="None" selected>Select an option</option>
                {% for category in category_types %}
                    <option value="{{category.category_type}}">{{category.category_type}}</option>
                {% endfor %}
            </select>
            <label for="category_type">Veggie Category (optional)</label>
        </div>

        <!-- Dish Type Selection -->
        <div class="input-field col s12 m4">
            <i class="fas fa-utensils prefix"></i>
            <select id="dish_type" name="dish_type" class="validate" required>
                <option value="" disabled selected>Select a dish</option>
                {% for dish in dish_types %}
                    <option value="{{dish.dish_type}}">{{dish.dish_type}}</option>
                {% endfor %}
            </select>
            <label for="dish_type">Dish Type <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Diet Preference Selection -->
        <div class="input-field col s12 m6 l4">
            <i class="fas fa-leaf prefix"></i>
            <select id="diet_type" name="diet_type">
                <option value="None" selected>Select a diet</option>
                {% for diet in diet_types %}
                    <option value="{{diet.diet_type}}">{{diet.diet_type}}</option>
                {% endfor %}
            </select>
            <label for="diet_type">Diet Preference (optional)</label>
        </div>

        <!-- Cooking Time Input -->
        <div class="input-field col s12 m6">
            <i class="far fa-clock prefix"></i>
            {{ form.cooking_time(type="number", class="validate", id="cooking_time") }}
            <label for="cooking_time">Cooking Time in minutes <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Servings Input -->
        <div class="input-field col s12 m6">
            <i class="fas fa-concierge-bell prefix"></i>
            {{ form.servings(type="number", class="validate", id="servings") }}
            <label for="servings">Number of Servings <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Ingredients Textarea -->
        <div class="input-field col s12">
            <i class="fas fa-clipboard-list prefix"></i>
            {{ form.ingredients(id="ingredients", placeholder="List each ingredient on a new line", class="validate materialize-textarea") }}
            <label for="ingredients">Ingredients (each on a new line) <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Directions Textarea -->
        <div class="input-field col s12">
            <i class="fas fa-list-ol prefix"></i>
            {{ form.recipe_directions(id="directions", placeholder="Detail each step on a new line", class="validate materialize-textarea") }}
            <label for="directions">Cooking Steps (each on a new line) <i class="fas fa-asterisk asterisk"></i></label>
        </div>

        <!-- Recipe Image Input -->
        <div class="input-field col s12">
            <i class="far fa-images prefix"></i>
            {{ form.image(id="recipe_image", placeholder="Provide a URL for your veggie dish image", class="validate") }}
            <label for="recipe_image">Recipe Image (URL only, optional)</label>
        </div>

        <!-- Displaying Error Messages -->
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Cancel and Submit Button Options -->
        <div class="row">
            <div class="col s6 right-align">
                <a href="{{ url_for('home') }}" class="btn z-depth-2 btn-form btn-secondary waves-effect waves-light btn-main uppercase" name="action">Cancel</a>
            </div>
            <div class="col s6">
                {{ form.submit(class="btn z-depth-3 btn-form btn-main uppercase") }}
            </div>
        </div>

    </form>
    <!-- End of Veggie Recipe Form -->

</section>
{% endblock %}
