{% extends 'base.html' %} 
{% block content %} 

  <!-- Heading for the recipe list -->
  <div class="margin-top-large">
    <h1 class="secondary-heading uppercase center-align margin-bottom-large">
      <span class="text-black">All </span>Veggie Delights ({{ number_of_all_rec }})
    </h1>
  </div>

  <!-- Horizontal divider -->
  <div class="divider-container hide-on-small-only">
    <hr class="divider-yellow" />
  </div>
  
  <!-- Search bar -->
  <div class="search-container">
    <form action="{{ url_for('search', query=query, current_page=current_page) }}" class="search">
      <input type="text" class="search-input" id="query" name="query" placeholder="Search veggie recipes...">
      <button class="search-button">
        <i class="fas fa-search search-icon"></i>
      </button>
    </form>
  </div>
    
  <!-- Container for recipes -->
  <div class="container-recipes">
    <div class="row">
      <!-- Loop to include recipe cards -->
      {% for recipe in recipes %} 
        {% include "includes/recipecards.html" %} <!-- Recipe card partial -->
      {% endfor %}
    </div>

    <!-- Pagination -->
    <ul class="pagination center-align margin-bottom-large">
      {% for page_num in pages %} 
        {% if page_num == current_page %} <!-- Current page check -->
          <li class="active"><a>{{ page_num }}</a></li>
        {% else %}
          <li class="waves-effect"><a href="{{ url_for('all_recipes', current_page=page_num) }}">{{ page_num }}</a></li>
        {% endif %} 
      {% endfor %}
    </ul>
  </div>

{% endblock %} <!-- Content block ends -->
