{% extends 'base.html' %} 

{% block content %}

    <!-- Heading section -->
    <section class="container margin-top-large">
        <h1 class="secondary-heading uppercase center-align">All Veggie Delights</h1>
    </section>

    <!-- Recipes container -->
    <div class="container container-recipes">
        <div class="row">

            <!-- Loop through each recipe and include the recipe card -->
            {% for recipe in recipes %} 
                {% include "includes/recipecards.html" %} 
            {% endfor %}

        </div>
    </div>

{% endblock %}

