{% extends 'base.html' %}

{% block content %}

    <!-- Heading section -->
    <section class="container margin-top-large">
        <h1 class="secondary-heading uppercase center-align margin-bottom-large"><span class="text-black">All </span>Veggie Delights</h1>
    </section>

    <!-- Recipes container -->
    <div class="container container-recipes margin-top-small">
        <div class="row">

            <!-- Loop through each recipe and include the recipe card -->
            {% for recipe in recipes %} 
                {% include "includes/recipecards.html" %} 
            {% endfor %}

        </div>

        <!-- Pagination section-->
        <ul class="pagination center-align">
            {% for page_num in pages %} 
                {% if page_num == current_page %}
                    <li class="active"><a>{{ page_num }}</a></li>
                {% else %}
                    <li class="waves-effect">
                        <a href="{{ url_for('all_recipes', current_page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endif %} 
            {% endfor %}
        </ul>
    </div>

{% endblock %}
