{% extends 'base.html' %}

{% block content %}

    <!-- Start of Change Password Section -->
    <section class="login-reg-section center-align">

        <!-- Logo for Change Password Section -->
        <a href="{{ url_for('home') }}">
            <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                class="logo-login-register hide-on-med-and-down"
                alt="Veggienosh Logo"
                lazyload="on"
            />
        </a>

        <!-- Change Password Heading -->
        <h1 class="secondary-heading heading-black uppercase">Sprout a New Password</h1>

        <!-- Change Password Form Start -->
        <div class="row">
            <form method="POST" action="">
                
                {{ form.hidden_tag() }}

                <!-- Old Password Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        {{ form.old_password.label }}
                        {{ form.old_password(placeholder="Your current secret veggie password") }}
                        {% for error in form.old_password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <!-- New Password Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        {{ form.new_password.label }}
                        {{ form.new_password(placeholder="Your new secret veggie password") }}
                        {% for error in form.new_password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <!-- Confirm New Password Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        {{ form.confirm_new_password.label }}
                        {{ form.confirm_new_password(placeholder="Confirm your new secret veggie password") }}
                        {% for error in form.confirm_new_password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <!-- Displaying Error Messages -->
                <div class="row center-align">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error-message">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <!-- Cancel and Submit Buttons -->
                <div class="row">
                    <!-- Cancel Button -->
                    <div class="col s6 right-align margin-bottom-large">
                        <a href="{{ url_for('account_settings', username=session.username) }}"
                        class="btn z-depth-2 btn-change btn-form btn-secondary waves-effect waves-light uppercase"
                            Root Back
                        </a>
                    </div>

                    <!-- Submit Button -->
                    <div class="col s6 left-align margin-bottom-large">
                        {{ form.submit(class="btn z-depth-3 btn-change btn-form button-coral uppercase")}}
                    </div>
                </div>
                
            </form>
        </div>

    </section>
    <!-- End of Change Password Section -->

{% endblock %}
