{% extends 'base.html' %}
{% block content %}

  <!-- Display flash messages -->
  <div class="row center-align">
    {% with messages = get_flashed_messages() %} 
      {% if messages %} 
        {% for message in messages %}
          <p class="error-message margin-top-small">
            {{ message }}
          </p>
        {% endfor %} 
      {% endif %} 
    {% endwith %}
  </div>

  <!-- Main section with hero image and button -->
  <div class="container home-container container-95">
    <div class="hero-image">
      <div class="row">
        <div class="col s12">
          <div class="text-block-home center-align">
            <h1 class="uppercase primary-heading">Veggienosh</h1>
            <p class="home-paragraph">
              Discover, craft, and save your favorite veggie recipes.
            </p>
            <a
              href="{{ url_for('all_recipes')}}"
              class="waves-effect waves-light btn uppercase z-depth-3 btn-main"
              id="btn-home"
            >
              Explore Veggie Creations
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Veggie Recipes -->
  <div class="row container-85">
    <h3 class="sub-heading center-align">Star Veggie Picks</h3>
    <div class="divider"></div>
  </div>
  <div class="container container-recipes">
    <div class="row">
      {% for recipe in recipes %}
        {% include "includes/recipecards.html" %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
