{% extends 'base.html' %}

{% block content %}

    <!-- Start of Login Section -->
    <section class="login-reg-section center-align">
        
        <!-- Logo for Login Section -->
        <a href="{{ url_for('home') }}">
            <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                class="logo-login-register hide-on-med-and-down"
                alt="VeggieNosh Logo"
            />
        </a>

        <!-- Login Heading -->
        <h1 class="secondary-heading heading-black uppercase">VeggieNosh Login</h1>
        
        <!-- Login Form Start -->
        <div class="row">
            <form method="POST" action="" class="col s12">

                {{ form.hidden_tag() }}

                <!-- Username Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        {{ form.username.label }} 
                        {{ form.username(placeholder="Your veggie username") }} 
                        {% for error in form.username.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <!-- Password Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        {{ form.password.label }} 
                        {{ form.password(placeholder="Your secret greens password") }} 
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <!-- Displaying Error Messages -->
                <div class="row center-align">
                    {% with messages = get_flashed_messages() %} 
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="text-red">
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <!-- Login Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        {{ form.submit(class="btn btn-form btn-main btn-coral z-depth-3 uppercase") }}
                    </div>
                </div>

                <!-- Account Creation Prompt -->
                <div class="row center-align">
                    <div class="col s12">
                        <med>
                            Need an account to share your veggie delights? 
                            <a href="{{ url_for('register') }}">Whip one up!</a>
                        </med>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!-- End of Login Section -->

{% endblock %}
