{% extends 'base.html' %}

{% block content %}
    <!-- Start of Registration Section -->
    <section class="login-reg-section">
        <h1>Join VeggieNosh</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <!-- Username Field -->
            <div>
                {{ form.username.label }}
                {{ form.username }}
                {% for error in form.username.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <!-- Password Field -->
            <div>
                {{ form.password.label }}
                {{ form.password }}
                {% for error in form.password.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <!-- Display Flash Messages if any -->
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <!-- Submit Button -->
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </section>
    <!-- End of Registration Section -->
{% endblock %}
