{% extends 'base.html' %}

{% block content %}


<div class="search-img-container">
    
    <img src="{{ url_for('static', filename='images/search.jpg') }}" class="img-search" alt="Vegan Dish Inspiration">
    <div>
        <!-- Title for Recipe Discovery -->
        <h1 class="search-img-title text-white">Explore Plant-Based Wonders</h1>   
    </div>
</div>

<!-- Recipe Search Form -->
<div class="search-container">
    <!-- Form for searching vegan recipes -->
    <form action="{{ url_for('search') }}" class="search-form">
        <!-- Input placeholder for vegan recipe discovery -->
        <input type="text" class="search-input" id="query" name="query" placeholder="Search plant-based recipes..." value="{{ query }}">
        <span class="clear-button" onclick="clearSearch()">&times;</span>
        <!-- Icon Button for Search -->
        <button class="search-button">
            <i class="fas fa-search search-icon"></i>
        </button>
    </form>
</div>

<!-- Search Results Information -->
<div class="search-results">
    {% if query %}
        {% if number_of_recipes_found == 0 %}
            <!-- No Results Found Message -->
            <h2 class="sub-heading">Oh kale no! No recipes found for "<span class="text-red">{{ query }}</span>"</h2>
            <p>Oops! Let's avocado-do-over. Check your spelling or try planting a new search term!</p>
            <!-- Link to Browse All Recipes -->
            <div class="margin-top-med">
                <a href="{{ url_for('all_recipes') }}"
                   class="waves-effect waves-light btn btn-coral uppercase z-depth-3 btn-main"
                   id="btn-home">
                   Browse All Veggie Recipes
                </a>
            </div>
        {% elif number_of_recipes_found == 1 %}
            <!-- Single Result Found Message -->
            <h2 class="sub-heading">We found one scrumptious recipe for "<span class="text-red">{{ query }}</span>"</h2>
        {% else %}
            <!-- Multiple Results Found Message -->
            <h2 class="sub-heading">We've harvested <span class="text-red">{{ number_of_recipes_found }}</span> recipes for "<span class="text-red">{{ query }}</span>"</h2>
        {% endif %} 
    {% else %}
        <!-- No Search Query Entered Message -->
        <h2 class="sub-heading">Type something to discover the flavors of kindness.</h2>
        <!-- Link to Browse All Recipes -->
        <div class="margin-top-med">
            <a href="{{ url_for('all_recipes') }}"
               class="waves-effect waves-light btn btn-coral uppercase z-depth-3 btn-main"
               id="btn-home">
               Browse All Veggie Recipes
            </a>
        </div>
    {% endif %}
</div>

<!-- Recipe Cards Container -->
<div class="container-recipes">
    <div class="row margin-top-med">
        <!-- Recipe Cards Loop -->
        {% for recipe in results %} 
            {% include "includes/recipecards.html" %} 
        {% endfor %}
    </div>

    <!-- Pagination for Recipe Search Results -->
    <ul class="pagination center-align margin-bottom-large">
        <!-- Pagination Links -->
        {% for page_num in results_pages %} 
            {% if page_num == current_page %}
                <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
                <li class="waves-effect">
                    <a href="{{ url_for('search', query=query, current_page=page_num) }}">{{ page_num }}</a>
                </li>
            {% endif %} 
        {% endfor %}
    </ul>
</div>

{% endblock %}
