{% extends 'base.html' %}

{% block content %}
    <!-- Meta tags for social media sharing -->
    <meta property="og:title" content="{{ selected_recipe.recipe_name }}">
    <meta property="og:description" content="{{ recipe_description }}">
    <meta property="og:image" content="{{ recipe_image }}">
    <meta property="og:url" content="https://veggienosh-mp3.herokuapp.com/single_recipe_info/{{ recipe_id }}">
    <meta property="og:site_name" content="VeggieNosh">
    <meta name="twitter:card" content="awesome_recipe">

    <!-- Container for the content -->
    <div class="container margin-top-large">
        
        <!-- Section for displaying flash messages -->
        <div class="row center-align">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <!-- Display each flash message -->
                        <p class="text-red margin-top-small">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Recipe Title -->
        <h1 class="secondary-heading heading-black uppercase center-align">
            {{ selected_recipe.recipe_name }}
        </h1>
        
        <!-- Divider only visible on larger screens -->
        <div class="divider-container hide-on-small-only">
            <hr class="divider-yellow" />
        </div>

        <!-- Main content section for recipe details -->
        <div class="row">
            <!-- Left Column for Image and Author Details -->
            <div class="col s12 m6 image-and-buttons-container">
                <div class="image-container">
                    <!-- Display the recipe image if available, else a placeholder -->
                    {% if selected_recipe.image %}
                        <img class="recipe-image responsive-img z-depth-2"
                             src="{{ selected_recipe.image }}"
                             alt="Delicious Veggie Recipe Image" />
                    {% else %}
                        <img src="{{ url_for('static', filename='images/recipe_placeholder.jpg') }}"
                             class="recipe-image responsive-img z-depth-2"
                             alt="Placeholder for Delicious Veggie Recipe" />
                    {% endif %}
                </div>

                <!-- Author information -->
                <div class="margin-top-med">
                    <p class="center-align">
                        <span class="recipe-lead-text">Recipe By:</span> {{ author }}
                    </p>

                    <!-- Edit and Delete options for authors -->
                    {% if session.username == author %}
                        <div class="buttons-container margin-top-med">
                            <!-- Edit recipe button -->
                            <a href="{{ url_for('edit_recipe', recipe_id=selected_recipe._id) }}"
                               class="btn z-depth-2 btn-edit-del btn-green waves-effect waves-orange uppercase"
                               name="action">
                                <i class="fas fa-edit right"></i> Edit Recipe
                            </a>
                            <!-- Delete recipe button -->
                            <a href="#delete-modal"
                               class="modal-trigger btn z-depth-2 btn-edit-del btn-red waves-effect waves-orange uppercase"
                               name="action">
                                <i class="fas fa-trash-alt right"></i> Delete Recipe
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Right Column for Detailed Recipe Info -->
            <div class="col s12 m6 center-align margin-top-small">
                <!-- Recipe Description -->
                <p class="recipe-description-paragraph">
                    {{ selected_recipe.description }}
                </p>

                <!-- Recipe Category and Dish Type -->
                <div class="row center-align margin-top-med">
                    <div class="col s6">
                        <!-- Category information -->
                        <i class="fas fa-globe-europe recipe_icon"></i>
                        <h6>Category</h6>
                        <p class="paragraph-recipe">{{ selected_recipe.category_type | default('Not Specified') }}</p>
                    </div>
                    <div class="col s6">
                        <!-- Dish Type information -->
                        <i class="fas fa-utensils recipe_icon"></i>
                        <h6>Type of Dish</h6>
                        <p class="paragraph-recipe">{{ selected_recipe.dish_type }}</p>
                    </div>
                </div>

                <!-- Diet Type and Cooking Time -->
                <div class="row center-align">
                    <div class="col s6">
                        <!-- Diet information -->
                        <i class="fas fa-leaf recipe_icon"></i>
                        <h6>Diet Preference</h6>
                        <p class="paragraph-recipe">{{ selected_recipe.diet_type | default('Not Specified') }}</p>
                    </div>
                    <div class="col s6">
                        <!-- Cooking Time information -->
                        <i class="far fa-clock recipe_icon"></i>
                        <h6>Preparation Time</h6>
                        <p class="paragraph-recipe">{{ selected_recipe.cooking_time }} minutes</p>
                    </div>
                </div>

                <!-- Servings information -->
                <div class="row center-align">
                    <div class="col s12">
                        <i class="fas fa-user recipe_icon"></i>
                        <h6>Serves:</h6>
                        <p class="paragraph-recipe">{{ selected_recipe.servings }}</p>
                    </div>
                </div>

                <!-- Dropdown Trigger -->
                <button type="button" class="btn btn-main dropdown-trigger" 
                data-target="dropdown1">
                <i class="fas fa-share-alt"></i> Share
                </button>

                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!" data-sharer="whatsapp" data-title="Checkout this awesome recipe!"
                 data-url="https://veggienosh-mp3.herokuapp.com/single_recipe_info/{{ recipe_id }}">
                 <i class="fab fa-whatsapp"></i>Share to Whatsapp</a></li>
                <li><a href="#!" data-sharer="facebook" data-hashtag="AwesomeRecipe"
                 data-url="https://veggienosh-mp3.herokuapp.com/single_recipe_info/{{ recipe_id }}">
                 <i class="fab fa-facebook"></i>Share to Facebook</a></li>
                </ul>

                <!-- Print button -->
                <button type="button" class="btn btn-sm btn-main me-1 me-sm-2" onClick="window.print()">
                <i class="fas fa-print"></i> Print
                </button>

            </div>
        </div>

        <!-- Ingredients and Directions -->
        <div class="container container-recipe-lists">
            <div class="row">
                <!-- Ingredients list -->
                <div class="col s12 m4">
                    <h3 class="tertiary-heading uppercase center-align">Ingredients</h3>
                    <ul class="unordered-list list-items">
                        {% for ingredient in selected_recipe.ingredients %}
                            <li class="ingredients-list">
                                <i class="fas fa-chevron-right ingredient-icon"></i>{{ ingredient }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Directions list -->
                <div class="col s12 m8">
                    <h3 class="tertiary-heading uppercase center-align">Directions:</h3>
                    <ol class="list-items">
                        {% for direction in selected_recipe.directions %}
                            <li class="margin-bottom-small">{{ direction }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

        <!-- Modal for Confirming Recipe Deletion -->
        <div id="delete-modal" class="modal">
            <div class="modal-content center-align">
                <h5 class="text-red bold">Confirm Recipe Deletion</h5>
                <div class="divider"></div>
                <p class="text-red">
                    <i class="fas fa-exclamation-circle text-red margin-top-small"></i> 
                    Attention! Deleting the recipe will permanently remove it from the cookbook.
                </p>
                <h6 class="margin-top-small small-text-delete"> Are you certain you want to delete this tasty treat?</h6>
                <div class="margin-top-small">
                    <!-- Cancel button -->
                    <a href="#" class="modal-close btn btn-secondary waves-effect waves-light z-depth-2 btn-small-font">Cancel</a>
                    <!-- Confirm delete button -->
                    <a class="btn btn-red waves-effect waves-light z-depth-2 btn-small-font"
                       href="{{ url_for('delete_recipe', recipe_id=selected_recipe._id) }}">Delete Recipe</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
